{% load staticfiles %}


<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/entries.css" %}">


    <meta charset="utf-8">
    <title>{% block title %}TimeTracker{% endblock %}</title>

    
  </head>
  <body>
    <div class="container">
      <ul class="nav">
        <li><a href="{% url 'client-list' %}">Clients</a></li>
        <li><a href="{% url 'entry-list' %}">Entries</a></li>
        <li><a href="{% url 'project-list' %}">Projects</a></li>
      </ul>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
