{% load staticfiles %}


<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/entries.css" %}">


    <meta charset="utf-8">
    <title>{% block title %}TimeTracker{% endblock %}</title>

    
  </head>
    <div class="container">
{% with request.resolver_match.url_name as url_name %}
    <ul class="nav nav-pills">
        <li role="presentation" class="{% if url_name == 'clients' %}active{% endif %}"><a href="{% url 'client-list' %}">Clients</a></li>
        <li role="presentation" class="{% if url_name == 'entries' %}active{% endif %}"><a href="{% url 'entry-list' %}">Entries</a></li>
        <li role="presentation"class="{% if url_name == 'projects' %}active{% endif %}"><a href="{% url 'project-list' %}">Projects</a></li>
    </ul>
{% endwith %}




      
      {% block content %}{% endblock %}
    </div>
</html>
